body{
    font-family: sans-serif;
    color: black;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}
.container {
    margin: 10% auto;
    padding: 80px 80px;
    text-align: center;
  }
  form {
    border: 2px solid black; /* 2px solid border with a light gray color */
    padding: 20px; /* Add padding inside the border for a cleaner look */
  }
  button{
    padding: 10px 15px;
    background-color: aliceblue;
    color: #000;
    border-radius: 3px;
    width: 200px;
    height:auto;
  }
  .view-all-questions {
    width: 10px;
    background-color: rgb(0, 255, 149);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .input{
    padding: 10px 15px;
    background-color: aliceblue;
    color: #000;
    border-radius: 3px;
    width: 200px;
  }
  table {
    border-collapse: collapse;
    width: 50%; /* Adjust width as needed */
    margin: 20px; /* Add margin for spacing */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: lightgray;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a border bottom for each row */
  }
  
  header {
    background-color:bisque;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  html {
    font-family: "Montserrat", sans-serif;
  }
  
  .HomeFaculty button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
  }
  
  .HomeFaculty button.selected {
    background-color: #ccc;
  }
  
  .AdminHome button.selected {
    background-color: #ccc;
  }
  .studentHome button.selected {
    background-color: #ccc;
  }
  
  .sub {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .sub h3 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .sub h4 {
    font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  }

  .exam-details{
    background-color: #ccc;
  }
  .form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin: 0 auto; /* Add this line to center the form horizontally */
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input,
  .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }

  